html, body {
	background-image: linear-gradient(to right bottom, #654ea3 0%, #eaafc8 100%);
	height: 100%;
	font-family: 'Fredoka One', cursive;
}

div {
	box-sizing: border-box;
}

img {
	height: 350px;
	animation-iteration-count: infinite;
	animation-fill-mode: forwards;
}

.pageWrapper {
	padding: 20px;
	border: dotted white 5px;
}

@keyframes bday {
	from { width: auto; }
	to { width: 200px; }
}

.bday {
	animation-name: bday;
	animation-duration: 0.2s;
}

@keyframes car {
	0% { transform: translate(0, 0) rotate(90deg); }
	75% { transform: translate(0, -1000px); }
	100% { transform: translate(1000px, -500px); }
}

.car {
	animation-name: car;
	animation-duration: 45s;
	animation-timing-function: ease-in;
}

@keyframes brenda {
	from{ transform: rotate(0); }
	to { transform: rotate(335deg); }
}

.brenda {
	animation-name: brenda;
	transform: translateX(300px);
	animation-duration: 2s;
	animation-timing-function: linear;
}

@keyframes tokyo {
	from { transform: scale(0, 0)}
	to { transform: scale(3, 3)}
}

.tokyo {
	animation-name: tokyo;
	animation-duration: 5s;
}
